

<div class="row">
    <div class="col-md-5">
        <div class="inspiration">
            <h2 class="pri-heading">
         inspire your inspiration
            </h2>

            <h3 class="sec-heading">
         simple to use for your app, products showcase & your inspiration.
            </h3>

            <p class="para">
                Lorem ipsum dolor sit amet con illum delectus harum dignissimos
                 odio non voluptatem, accusamus officia quo atque.
            </p>

            <app-icons [iconsArray]="iconsListArray"></app-icons>
        </div>
    </div>
        
    <div class="col-md-5 offset-md-2">
            
       <img src="../../../../assets/images/ipad.png" alt="ipad" title="ipad"
       class="img-fluid">     

    </div>
</div>