
.iconList{
    li{
    display: inline-block;
    margin-right: 26px;
    a{
        &:link, &:visited{
            color: $color-dark;
        }
       
    }
}
}



.footerLinks {
    li{
        display: block;
   a{
    &:link , &:visited{
    color: $color-white;
   }
}
}
}